body {
  background-color: #f5f7fa;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  color: #000000;
}
h2 {
  font-size: 22px;
  font-weight: bold;
  font-style: normal;
  line-height: 27px;
  color: #000000;
}
h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}
h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
li {
  color: #595959; /* цвет списка */
}
A {
  color: #595959; /* цвет ссылок */
}
b {
  color: #000000;
}
ol {
  font-weight: bold;
  color: #000000;
}
.main-container-section {
  background-color: #f4f6f9;
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
}
.central-container-section {
  margin: 40px auto;
  background-color: #ffffff;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

.about-me-section {
  margin: 102px 342px 40px 88px;
}
.about-me-profession {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.my-name-and-surname {
  font-size: 45px;
  font-weight: 700;
  font: bold;
  color: #000000;
  width: 342px;
  height: 50px;
  margin-top: 19px;
}
.about-me-text {
  margin-top: 24px;
  color: #595959;
}

/* My Projects section */
.my-projects-section {
  margin-left: 88px;
  margin-top: 40px;
  margin-right: 257px;
  color: #595959;
}
.central-section-ol {
  padding-left: 15px;
}
.my-projects-section-link {
  margin-left: 10px;
}
.li-ol-right span {
  font-weight: normal;
  color: #595959;
}
.my-projects-technology-name {
  /* margin-left: 5px; */
  padding-left: 5px;
}
/* Work experience section */
.central-section-ul {
  padding-left: 15px;
}
.work-experience-3 {
  margin-left: 88px;
  margin-top: 51px;
  margin-right: 217px;
}
.work-experience-2 {
  margin-top: 16px;
  margin-left: 88px;
  margin-right: 217px;
}
.work-experience-1 {
  margin-top: 20px;
  margin-left: 88px;
  margin-right: 217px;
}
.place-of-work {
  color: #fb6d3a;
}
.period-and-date {
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
}
.vertical-bar {
  color: #000000;
}
.my-education-section {
  margin-top: 43px;
  margin-left: 88px;
  margin-right: 415px;
  margin-bottom: 107px;
  line-height: 12;
}
.education-margin {
  margin-bottom: 12px;
}

/* Side bar section */
.left-side-bar-section {
  background-color: #1e2939;
  margin: 40px auto;
  color: #ffffff;
  width: 370px;
}
.my-photo-class {
  margin-top: 40px;
  width: 370px;
  height: 354px;
}
.contacts-section {
  margin-top: 51px;
  margin-left: 40px;
  color: #ffffff;
}
/* Contacts section */
.contacts-section-type {
  font-weight: bold;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  margin-right: 10px;
}
.cell-phone-section {
  opacity: 0.5;
  text-decoration-line: none;
  color: #ffffff;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}
.email-section {
  opacity: 0.5;
  text-decoration-line: underline;
  color: #ffffff;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}
.h2-left-bar {
  color: #ffffff;
  margin-bottom: 8px;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
}

/* Classes for list in side bar */
.ul-left-bar {
  padding-left: 10px;
}
.li-left-bar {
  color: #fb6d3a;
}
.li-left-bar span {
  color: #ffffff;
}
/* Tech skills section */
.tech-skills-section {
  margin-top: 47px;
  margin-left: 40px;
  color: #ffffff;
}
/* Soft skills section */
.soft-skills-section {
  margin-top: 44px;
  margin-left: 40px;
  color: #ffffff;
}